<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcomes!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to go to hello.</p>
        <p>Click <a th:href="@{/greetings}">here</a> to go to greetings.</p>
        <p>Click <a th:href="@{/calculator}">here</a> to go to calculator.</p>
        <p>Click <a th:href="@{/testget}">here</a> to go to testget.</p>
    </body>
</html>